// Common variables used in project

// COLORS ------------------------------------------
$color-link: #1E88E5;
$color-link-hover: #512DA8;
$color-dark-primary-hover: #512DA8;
$color-dark-transparent: rgba(30, 30, 30, 0.8);
$color-light-transparent: rgba(245, 245, 245, 0.8);
$color-dark-hover-transparent: rgba(30, 30, 30, 0.95);
$color-light-hover-transparent: rgba(245, 245, 245, 0.95);

// VARIABLES ------------------------------------------
$border-radius: 16px;
